.text-container {
  flex: 1;
  background-color: black;
  opacity: 0.9;
  border-radius: 20px;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 10px;
  color: white;
  max-width: 75%;
  margin-right: auto;
  margin-left:auto;
}
.main-item span {
  font-weight: bold;
}

.main-item a, a:visited {
  color: white;
  text-decoration: none;
}

.main-item a:hover {
  color: #ffcc00;
}

.main-item li {
  list-style-type: initial;
}

h3 {
  font-size: 36px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
}
